{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "" %}{% endblock %}

{% block content %}
<div class="container container-fluid txt-container intro-text">
    <br>
    <div>
    <h5>Welcome to Task Buddies, where we believe that to-do lists should be fun and supportive!</h5>
        <p> Our vibrant platform transforms the stress of task management, encouraging you to complete your tasks with a smile and making productivity feel rewarding and enjoyable. You got this! And if you don't got this right now, that's ok too, we'll be right here when you're ready &#128062; </p>
        <br>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Hey there, tasker! If you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 sign-in-box container">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right btn-info" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}