/* Navbar Base*/

nav {
   margin: 1rem 0;
}

.navbar-logo {
  max-height: 40px;
  text-align: center;
} 

li.nav-item {
  align-content: center;
}

.nav-item {
  max-height: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

/* Body Base */

body {
  padding-bottom: 6vh;
}

.logo {
    text-align: center;
    margin-bottom: auto;
    width: 100%;
  }
  .logo img {
    max-width: 300px; 
  }

  #turtle {
    margin-top: auto;
    max-width: 100px;
  }

/* Body Sign In */

.landing-header {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}

.btn-signup {
  padding-bottom: 10px;
}

.txt-container {
  justify-content: center;
}

p.intro-text, 
h5.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 20px;
}

/* Body Task List */

.create-task {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Body Task Update */

.back-btn {
  margin-left: 50px;
}

/* Body Task Completed */

.complete-task {
  text-align: center;
}

.complete-task h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Body Sign Up */

.sign-in-box {
  margin-bottom: 1rem;
  margin-bottom: 8vh;
}

.signup-div {
  text-align: center;
}

  /* Footer Base */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 11, 153);
    display: flex;
    justify-content: start;
    height: 6%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
}

#copyright {
    font-weight: 300;
    color: #fff;
}

@media (max-width: 768px) {
  .signup-div {
      margin-bottom: 10vh;
  }

  .footer {
      height: 8%;
  }

  body {
      padding-bottom: 8vh;
  }
}