{% extends 'base.html' %}
{% block content %}

<div class="form-container">
    <form method="POST" action="{% url 'task_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-info" type="submit" value="Create Task">
    </form>
</div>

<div class="container">
    <div class="row">
        {% for task in tasks %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <a href="{% url 'task_update' task.id %}" class="btn btn-sm btn-info">Edit</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No tasks available.</p>
        {% endfor %}
    </div>
</div>

<!-- task_list.html content starts here -->
Hi from task_list
<!-- task_list.html content ends here -->

{% endblock %}