/* Navbar Base*/

nav {
   margin: 1rem 0;
}

.navbar-logo {
  max-height: 40px;
  text-align: center;
} 

li.nav-item {
  align-content: center;
}

.nav-item {
  max-height: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

/* Body Base */

.logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .logo img {
    max-width: 350px; 
  }

  #turtle {
    margin-top: auto;
    max-width: 100px;
  }

/* Body Sign In */

.intro-text {
  display: flex;
  text-align: center;
  margin: 20px;
  margin-top: 50px;
}

/* Body Task List */

.create-task {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Body Task Update */

.back-btn {
  margin-left: 50px;
}

/* Body Task Completed */

.complete-task {
  text-align: center;
}

.complete-task h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Body Sign Up */

.signup-div {
  text-align: center;
}


  /* Footer Base */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 11, 153);
    display: flex;
    justify-content: start;
    height: 8%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
}

#copyright {
    font-weight: 300;
    color: black;
}